html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-body-color);
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
}

p {
  margin: 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section, .features, .our-products, .our-team, .clients, .portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  color: #212121;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin: 0;
}

.custom-title, .join-us__title, .form__title {
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.navigation-point__link, .contact-list, .hero--button, .social-item-link, .clients-list-item__link, .address-list-item__link, .join-us-social-item-link, .form-group-button, .filter-item__button, .portfolio-card, .portfolio-card-link-thumb__actions, .backdrop, .modal__button-close, .modal-form-item__input, .modal-form-item__comment, .modal-form-item__icon, .modal-form__button-submit {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner, .header, .features, .our-products, .our-team, .clients, .footer-conteiner, .portfolio {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  color: #2196f3;
  font-weight: 700;
  line-height: 1.2;
}

.logo--black {
  color: #000;
}

.logo--white {
  color: #ffffff;
}

.logo:focus {
  outline-color: #2196f3;
}

.navigation {
  margin-left: 93px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-point {
  position: relative;
}

.navigation-point:not(:last-child) {
  margin-right: 50px;
}

.navigation-point__link, .navigation-point__link--action {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-point__link {
  color: var(--secondary-text-color);
  -webkit-transition-property: color;
  transition-property: color;
}

.navigation-point__link--action {
  color: #2196f3;
}

.navigation-point__link--action::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.navigation-point__link--action:focus {
  outline: none;
}

.navigation-point__link:hover {
  color: #2196f3;
}

.navigation-point__link:focus {
  color: #2196f3;
  outline: none;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #757575;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
}

.contact-list:last-child {
  margin-left: 50px;
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

.contact-list__icon {
  display: block;
  margin-right: 10px;
}

.contact-list:hover .contact-list__link,
.contact-list:hover .contact-list__icon {
  color: #2196f3;
  fill: #2196f3;
}

.header-contacts:focus .contact-list__link,
.header-contacts:focus .contact-list__icon {
  color: #2196f3;
  outline: none;
  fill: #2196f3;
}

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background-image.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  min-height: 600px;
}

.hero--title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 44px;
  text-align: center;
  line-height: 1.36;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero--button {
  font-family: inherit;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.hero--button:hover {
  background-color: #188ce8;
}

.hero--button:focus {
  background-color: #188ce8;
  outline: none;
}

.features {
  font-size: 14px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.features-list-item {
  margin-left: 30px;
  width: calc((100% - 90px) / 4);
}

.features-list-item__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-list-item__title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.features-list-item__text {
  color: #757575;
  line-height: 1.7;
  margin-top: 10px;
  letter-spacing: 0.03em;
}

.our-products {
  padding-top: 0;
}

.our-products-list {
  margin-top: 50px;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-products-list-item {
  position: relative;
}

.our-products-list-item__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-products-list-item__image {
  display: block;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team-list {
  margin-top: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team-list-item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.our-team-list-item-meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team-list-item-meta__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}

.our-team-list-item-meta__profession {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
}

.our-team-list-item-meta__photo {
  display: block;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item-link {
  border-radius: 50%;
  margin-top: 16px;
  color: #afb1b8;
  height: 44px;
  width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.social-item-link__icon {
  fill: currentColor;
}

.social-item-link:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.social-item-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  outline: none;
}

.clients-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-list-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
}

.clients-list-item__link:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.clients-list-item__link:focus {
  border: 1px solid var(--action-color);
  fill: var(--action-color);
  outline: none;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address {
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  font-style: normal;
  margin-top: 20px;
}

.address-list-item {
  margin-top: 9px;
}

.address-list-item__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
}

.address-list-item__link:hover {
  color: #2196f3;
}

.address-list-item__link:focus {
  color: var(--action-color);
  outline: none;
}

.join-us {
  margin-left: 70px;
  padding-top: 12px;
}

.join-us-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.join-us-social-item:not(:first-child) {
  margin-left: 10px;
}

.join-us-social-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.join-us-social-item-link__icon {
  display: block;
  fill: #ffffff;
}

.join-us-social-item-link:hover {
  background-color: #2196f3;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 93px;
  padding-top: 12px;
}

.form__title {
  margin-bottom: 20px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-group__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding: 15px;
}

.form-group__input:focus {
  color: rgba(255, 255, 255, 0.6);
}

.form-group-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.form-group-button__text {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.form-group-button__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.form-group-button:hover {
  background-color: #188ce8;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-item__button {
  font-family: inherit;
  font-size: 16px;
  color: #212121;
  font-weight: 500;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
}

.filter-item__button:hover {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.portfolio-exsamples {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-card {
  margin-left: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
      flex-basis: calc((100% - 3 * 30px) / 3);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

.portfolio-card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card:hover .portfolio-card-link-thumb__actions {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-card-link-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card-link-thumb__picture {
  display: block;
}

.portfolio-card-link-thumb__actions {
  position: absolute;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.portfolio-card-meta {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-card-meta__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  margin: 0;
}

.portfolio-card-meta__type {
  color: #757575;
  margin-top: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}

.modal {
  min-width: 528px;
  min-height: 581px;
  max-height: 100vh;
  background-color: #ffffff;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-body-color);
  fill: black;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.modal__button-close:hover {
  fill: #2196f3;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-item:not(:last-child) {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-item__name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-form-item__input, .modal-form-item__comment {
  width: 100%;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  -webkit-transition-property: border;
  transition-property: border;
}

.modal-form-item__input:focus, .modal-form-item__comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-form-item__comment {
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
}

.modal-form-item__comment:focus,
.modal-form-item__comment :not(:placeholder-shown) {
  color: #212121;
}

.modal-form-item__comment:placeholder-shown {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-item__icon {
  position: absolute;
  left: 12px;
  bottom: 14px;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.modal-form-checkbox {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.modal-form-checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-form-checkbox__custom {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-form-checkbox__input:checked + .modal-form-checkbox__custom {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.modal-form-checkbox__agreement-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-checkbox__agreement-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 5px;
  color: #2196f3;
  text-decoration: underline;
}

.modal-form__button-submit {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.modal-form__button-submit:hover {
  background-color: #188ce8;
}

.modal-form-item__input:focus + .modal-form-item__icon, .modal-form-item__comment:focus + .modal-form-item__icon {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */