.clients {
  @extend .section;
  @extend .conteiner;

  &-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;
      border: 1px solid $social-network-color;
      border-radius: 4px;
      color: $social-network-color;
      margin-left: 30px;
      transition-property: color, border;
      @extend %cubic;

      @media screen and (max-width: 767px) {
        width: calc((100% - 60px) / 2);
      }

      @media screen and (min-width: 768px) {
        width: calc((100% - 90px) / 3);
      }

      @media screen and (min-width: 1200px) {
        width: calc((100% - 180px) / 6);
      }

      &:nth-child(n + 3) {
        @media screen and (max-width: 767px) {
          margin-top: 30px;
        }
      }
      &:nth-child(n + 4) {
        @media screen and (min-width: 767px) and (max-width: 1199px) {
          margin-top: 30px;
        }
      }
    }

    &-item__link {
      display: flex;
      align-items: center;
      justify-content: center;
      color: currentColor;
      fill: currentColor;
    }

    &-item:hover {
      border: 1px solid $action-color;
      color: $action-color;
    }
    &-item:focus {
      border: 1px solid $action-color;
      color: $action-color;
      outline: none;
    }
  }
}
