.header {
  position: relative;
  @extend .conteiner;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}

.menu-button {
  position: absolute;
  right: 15px;
  top: 10px;
  transform: translateY(50%);
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #fff;
  }

  &.is-open {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-social {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: flex;
  margin-top: 64px;
  margin-left: 40px;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 1.22;

  &-item {
    display: flex;
  }

  &-item__link {
    color: $action-color;
  }
  &-item:not(:last-child):after {
    content: '';
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: 1px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
