.contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 302px;
    margin-left: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 84px;
    margin-top: auto;
    margin-bottom: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 305px;
  }
}

.contact-list {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  fill: $primary-text-color;
  transition-property: color, fill;
  @extend %cubic;

  @media screen and (max-width: 1199px) {
    &:last-child {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:last-child {
      margin-left: 50px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: inherit;
  }

  &:first-child {
    @media screen and (max-width: 767px) {
      font-size: 24px;
      margin-top: 32px;
    }
  }

  &:last-child {
    @media screen and (max-width: 767px) {
      font-size: 34px;
      color: $action-color;
    }
  }

  &__icon {
    display: block;
    margin-right: 10px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.contact-list:hover .contact-list__link,
.contact-list:hover .contact-list__icon {
  color: $action-color;
  fill: $action-color;
}

.header-contacts:focus .contact-list__link,
.header-contacts:focus .contact-list__icon {
  color: $action-color;
  outline: none;
  fill: $action-color;
}
