.contacts {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contact-list {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  fill: $primary-text-color;
  transition-property: color, fill;
  @extend %cubic;

  @media screen and (max-width: 1199px) {
    &:last-child {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:last-child {
      margin-left: 50px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: inherit;
  }

  &__icon {
    display: block;
    margin-right: 10px;
  }
}

.contact-list:hover .contact-list__link,
.contact-list:hover .contact-list__icon {
  color: $action-color;
  fill: $action-color;
}

.header-contacts:focus .contact-list__link,
.header-contacts:focus .contact-list__icon {
  color: $action-color;
  outline: none;
  fill: $action-color;
}
