.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  color: $action-color;
  font-weight: 700;
  line-height: 1.2;

  &--black {
    color: #000;
  }

  &--white {
    color: $main-body-color;
  }

  &:focus {
    outline-color: $action-color;
  }
}
