$primary-text-color: #757575;
$secondary-text-color: #212121;
$action-color: #2196f3;
$hero-background-color: #2f303a;
$section-main-background-color: #e5e5e5;
$section-secondary-background-color: #f5f4fa;
$main-body-color: #ffffff;
$button-hover-color: #188ce8;
$social-network-color: #afb1b8;
